
.bold {
	font-weight: bold;
}


.resultArea {
	width: 60%;
	border-width:2px; 
	border-style:solid;
	 margin:2em; 
	 padding-left:1em; 
	 padding-right:1em; 
	 padding-bottom:1em
}

.resultArea input {
	width: 90%;
}

.resultArea h3 {
	margin-top: 0.6em;
}

.string-wrap {
	width: 80%;
	word-wrap: break-word;
}

.dataInputBox {
	width: 95%
}

.inline {
	display: inline;
}

.error {
	color: red;
	font-style: italic;
}